<div class="auth">
  <div class="auth__logo">
    <img src="../img/auth.svg" alt="logo" class="auth__img">
  </div>
  <div class="auth__title">Авторизация</div>
  <div class="auth__desc">Введите, пожалуйста, свои ФИО и никнейм</div>
  <form class="auth__form">
    <input type="text" class="auth__input" name="name" id="name" placeholder="Введите свои ФИО">
    <input type="text" class="auth__input" name="nick" id="nick" placeholder="Введите свой ник">
    <button type="submit" class="button auth__submit">Войти</button>
  </form>
</div>